In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_set = pd.read_csv('train.csv')
test_set = pd.read_csv('test.csv')

In [3]:
test_set.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4

In [4]:
test_copy = test_set.copy()

In [5]:
train_set.drop('Employee_ID', inplace = True , axis = 1)
test_set.drop('Employee_ID', inplace = True , axis = 1)

In [6]:
train_set.head()

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,33,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,36,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,51,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,56,...,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,62,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [7]:
test_set.head()

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,30,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,72,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,25,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,28,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,47,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4

In [8]:
x = train_set.iloc[:,:-1].values
y = train_set.iloc[:,-1].values
x_test =  test_set.iloc[:,:].values

In [9]:
print(x_test[0])

['F' 32.0 5 'Single' 'Springfield' 'R&D' 'Conceptual' 7.0 4 30 1 5 4.0
 'type2' 1.0 3 -0.9612 -0.4537 2.0 1 8 4]

In [10]:
print(x[0])

['F' 42.0 4 'Married' 'Franklin' 'IT' 'Conceptual' 4.0 4 33 1 1 7.0
 'type2' 3.0 4 0.7516 1.8688 2.0 4 5 3]

In [11]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan , strategy = 'mean')
imputer.fit(x[:,[1,2,7,8,9,10,11,12,14,15,16,17,18,19,20,21]])
x[:,[1,2,7,8,9,10,11,12,14,15,16,17,18,19,20,21]] = imputer.transform(x[:,[1,2,7,8,9,10,11,12,14,15,16,17,18,19,20,21]])
x_test[:,[1,2,7,8,9,10,11,12,14,15,16,17,18,19,20,21]] = imputer.transform(x_test[:,[1,2,7,8,9,10,11,12,14,15,16,17,18,19,20,21]])

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()
le4 = LabelEncoder()
le5 = LabelEncoder()
x[:,0] = le.fit_transform(x[:,0])
x_test[:,0] = le.transform(x_test[:,0])
x[:,3] = le1.fit_transform(x[:,3])
x_test[:,3] = le1.transform(x_test[:,3])
x[:,4] = le2.fit_transform(x[:,4])
x_test[:,4] = le2.transform(x_test[:,4])
x[:,5] = le3.fit_transform(x[:,5])
x_test[:,5] = le3.transform(x_test[:,5])
x[:,6] = le4.fit_transform(x[:,6])
x_test[:,6] = le4.transform(x_test[:,6])
x[:,13] = le5.fit_transform(x[:,13])
x_test[:,13] = le5.transform(x_test[:,13])

In [13]:
print(x[0])

[0 42.0 4.0 0 1 2 2 4.0 4.0 33.0 1.0 1.0 7.0 2 3.0 4.0 0.7516 1.8688 2.0
 4.0 5.0 3.0]

In [14]:
print(x)

[[0 42.0 4.0 ... 4.0 5.0 3.0]
 [1 24.0 3.0 ... 3.0 5.0 3.0]
 [0 58.0 3.0 ... 3.0 8.0 3.0]
 ...
 [0 49.0 3.0 ... 4.0 8.0 3.0]
 [0 47.0 3.0 ... 3.0 6.0 3.0]
 [0 58.0 3.0 ... 4.0 5.0 3.0]]

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)
x_test = sc.transform(x_test)

In [16]:
print(x)

[[-0.83756018  0.18009898  0.76255659 ...  1.24175608 -1.80495079
  -0.27776175]
 [ 1.19394406 -1.18359795 -0.17638732 ...  0.17665468 -1.80495079
  -0.27776175]
 [-0.83756018  1.39227403 -0.17638732 ...  0.17665468  0.77197263
  -0.27776175]
 ...
 [-0.83756018  0.71042557 -0.17638732 ...  1.24175608  0.77197263
  -0.27776175]
 [-0.83756018  0.55890369 -0.17638732 ...  0.17665468 -0.94597631
  -0.27776175]
 [-0.83756018  1.39227403 -0.17638732 ...  1.24175608 -1.80495079
  -0.27776175]]

In [17]:
from sklearn.model_selection import train_test_split
x_train , x_test1 , y_train , y_test = train_test_split(x , y , test_size = 0.2 , random_state = 0)

In [18]:
from sklearn.tree import DecisionTreeRegressor

In [19]:
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(x, y)
y_pred = regressor.predict(x_test)
print(y_pred)

[0.04835 0.2966  0.2471  ... 0.0776  0.1976  0.1255 ]

In [20]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(x,y)
y_pred = regressor.predict(x_test)
print(y_pred)

[0.3086809  0.31743185 0.16475824 ... 0.17823653 0.37062244 0.23466143]

In [21]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(x, y)
y_pred = regressor.predict(x_test)
print(y_pred)

[0.27028  0.31136  0.24664  ... 0.094465 0.26702  0.13919 ]

In [22]:
final_answer = pd.DataFrame({
    'Employee_ID' : test_copy['Employee_ID'],
    'Attrition_rate' : y_pred
})

In [23]:
final_answer.to_csv('submission1_2.csv' , index=False)

In [24]:
final_answer.head()

  Employee_ID  Attrition_rate
0   EID_22713         0.27028
1    EID_9658         0.31136
2   EID_22203         0.24664
3    EID_7652         0.31232
4    EID_6516         0.29145

In [41]:
import tensorflow as tf
from tensorflow import keras
ann = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64 , activation = 'relu'),
    tf.keras.layers.Dense(32 , activation = 'relu'),
    tf.keras.layers.Dense(1)
])

In [42]:
ann.compile(optimizer = 'adam' , loss='mean_squared_error')

In [27]:
ann.fit(x_train , y_train , epochs = 100)

Epoch 1/100
5600/5600 [==============================] - 6s 1ms/sample - loss: 0.0545
Epoch 2/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0363
Epoch 3/100
5600/5600 [==============================] - 1s 97us/sample - loss: 0.0324
Epoch 4/100
5600/5600 [==============================] - 1s 101us/sample - loss: 0.0301
Epoch 5/100
5600/5600 [==============================] - 1s 103us/sample - loss: 0.0283
Epoch 6/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0265
Epoch 7/100
5600/5600 [==============================] - 1s 100us/sample - loss: 0.0252
Epoch 8/100
5600/5600 [==============================] - 1s 94us/sample - loss: 0.0235
Epoch 9/100
5600/5600 [==============================] - 1s 96us/sample - loss: 0.0230
Epoch 10/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0207
Epoch 11/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0191
Epoch 12/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0177
Epoch 13/100
5600/5600 [==============================] - 1s 103us/sample - loss: 0.0164
Epoch 14/100
5600/5600 [==============================] - 1s 92us/sample - loss: 0.0152
Epoch 15/100
5600/5600 [==============================] - 1s 95us/sample - loss: 0.0140
Epoch 16/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0129
Epoch 17/100
5600/5600 [==============================] - 1s 92us/sample - loss: 0.0123
Epoch 18/100
5600/5600 [==============================] - 1s 94us/sample - loss: 0.0108
Epoch 19/100
5600/5600 [==============================] - 1s 96us/sample - loss: 0.0101
Epoch 20/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0097
Epoch 21/100
5600/5600 [==============================] - 1s 96us/sample - loss: 0.0086
Epoch 22/100
5600/5600 [==============================] - 0s 89us/sample - loss: 0.0080
Epoch 23/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0077
Epoch 24/100
5600/5600 [==============================] - 0s 89us/sample - loss: 0.0073
Epoch 25/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0066
Epoch 26/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0062
Epoch 27/100
5600/5600 [==============================] - 0s 87us/sample - loss: 0.0056
Epoch 28/100
5600/5600 [==============================] - 1s 109us/sample - loss: 0.0056
Epoch 29/100
5600/5600 [==============================] - 1s 125us/sample - loss: 0.0050
Epoch 30/100
5600/5600 [==============================] - 1s 116us/sample - loss: 0.0047
Epoch 31/100
5600/5600 [==============================] - 1s 93us/sample - loss: 0.0044
Epoch 32/100
5600/5600 [==============================] - 1s 97us/sample - loss: 0.0049
Epoch 33/100
5600/5600 [==============================] - 1s 124us/sample - loss: 0.0049
Epoch 34/100
5600/5600 [==============================] - 1s 122us/sample - loss: 0.0046
Epoch 35/100
5600/5600 [==============================] - 1s 125us/sample - loss: 0.0051
Epoch 36/100
5600/5600 [==============================] - 1s 104us/sample - loss: 0.0046
Epoch 37/100
5600/5600 [==============================] - 1s 112us/sample - loss: 0.0043
Epoch 38/100
5600/5600 [==============================] - 1s 97us/sample - loss: 0.0040
Epoch 39/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0039
Epoch 40/100
5600/5600 [==============================] - 1s 93us/sample - loss: 0.0035
Epoch 41/100
5600/5600 [==============================] - 1s 92us/sample - loss: 0.0036
Epoch 42/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0038
Epoch 43/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0037
Epoch 44/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0031
Epoch 45/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0031
Epoch 46/100
5600/5600 [==============================] - 0s 89us/sample - loss: 0.0029
Epoch 47/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0032
Epoch 48/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0032
Epoch 49/100
5600/5600 [==============================] - 0s 89us/sample - loss: 0.0033
Epoch 50/100
5600/5600 [==============================] - 1s 94us/sample - loss: 0.0032
Epoch 51/100
5600/5600 [==============================] - 0s 89us/sample - loss: 0.0031
Epoch 52/100
5600/5600 [==============================] - 0s 89us/sample - loss: 0.0029
Epoch 53/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0032
Epoch 54/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0029
Epoch 55/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0031
Epoch 56/100
5600/5600 [==============================] - 0s 87us/sample - loss: 0.0030
Epoch 57/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0028
Epoch 58/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0027
Epoch 59/100
5600/5600 [==============================] - 1s 93us/sample - loss: 0.0029
Epoch 60/100
5600/5600 [==============================] - 1s 97us/sample - loss: 0.0033
Epoch 61/100
5600/5600 [==============================] - 1s 96us/sample - loss: 0.0026
Epoch 62/100
5600/5600 [==============================] - 1s 97us/sample - loss: 0.0027
Epoch 63/100
5600/5600 [==============================] - 1s 112us/sample - loss: 0.0029
Epoch 64/100
5600/5600 [==============================] - 1s 107us/sample - loss: 0.0030
Epoch 65/100
5600/5600 [==============================] - 1s 98us/sample - loss: 0.0026
Epoch 66/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0026
Epoch 67/100
5600/5600 [==============================] - 1s 93us/sample - loss: 0.0028
Epoch 68/100
5600/5600 [==============================] - 1s 97us/sample - loss: 0.0026
Epoch 69/100
5600/5600 [==============================] - 1s 96us/sample - loss: 0.0025
Epoch 70/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0022
Epoch 71/100
5600/5600 [==============================] - 1s 94us/sample - loss: 0.0020
Epoch 72/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0018
Epoch 73/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0020
Epoch 74/100
5600/5600 [==============================] - 1s 93us/sample - loss: 0.0021
Epoch 75/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0027
Epoch 76/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0030
Epoch 77/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0027
Epoch 78/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0024
Epoch 79/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0024
Epoch 80/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0023
Epoch 81/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0022
Epoch 82/100
5600/5600 [==============================] - 1s 93us/sample - loss: 0.0024
Epoch 83/100
5600/5600 [==============================] - 0s 88us/sample - loss: 0.0023
Epoch 84/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0021
Epoch 85/100
5600/5600 [==============================] - 1s 92us/sample - loss: 0.0020
Epoch 86/100
5600/5600 [==============================] - 1s 91us/sample - loss: 0.0020
Epoch 87/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0021
Epoch 88/100
5600/5600 [==============================] - 1s 92us/sample - loss: 0.0022
Epoch 89/100
5600/5600 [==============================] - 1s 90us/sample - loss: 0.0022
Epoch 90/100
5600/5600 [==============================] - 1s 94us/sample - loss: 0.0022
Epoch 91/100
5600/5600 [==============================] - 0s 89us/sample - loss: 0.0023
Epoch 92/100
5600/5600 [==============================] - 1s 92us/sample - loss: 0.0021
Epoch 93/100
5600/5600 [==============================] - 1s 97us/sample - loss: 0.0020
Epoch 94/100

5600/5600 [==============================] - 1s 101us/sample - loss: 0.0019
Epoch 95/100
5600/5600 [==============================] - 1s 99us/sample - loss: 0.0018
Epoch 96/100
5600/5600 [==============================] - 0s 88us/sample - loss: 0.0017
Epoch 97/100
5600/5600 [==============================] - 0s 88us/sample - loss: 0.00170s - loss:
Epoch 98/100
5600/5600 [==============================] - 0s 88us/sample - loss: 0.0017
Epoch 99/100
5600/5600 [==============================] - 1s 89us/sample - loss: 0.0021
Epoch 100/100
5600/5600 [==============================] - 1s 92us/sample - loss: 0.0024

In [ ]:
ann.fit(x ,y ,epochs=100)

Epoch 1/100
7000/7000 [==============================] - 1s 132us/sample - loss: 0.0993
Epoch 2/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.0441
Epoch 3/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.0388
Epoch 4/100
7000/7000 [==============================] - 1s 89us/sample - loss: 0.0362
Epoch 5/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.0345
Epoch 6/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.0334
Epoch 7/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.0327
Epoch 8/100
7000/7000 [==============================] - 1s 90us/sample - loss: 0.0318
Epoch 9/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.0313
Epoch 10/100
7000/7000 [==============================] - 1s 99us/sample - loss: 0.0311
Epoch 11/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.0303
Epoch 12/100
7000/7000 [==============================] - 1s 108us/sample - loss: 0.0298
Epoch 13/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.0296
Epoch 14/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.0290
Epoch 15/100
7000/7000 [==============================] - 1s 99us/sample - loss: 0.0287
Epoch 16/100
7000/7000 [==============================] - 1s 108us/sample - loss: 0.0282
Epoch 17/100
7000/7000 [==============================] - 1s 102us/sample - loss: 0.0278
Epoch 18/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.0275
Epoch 19/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.0269
Epoch 20/100
7000/7000 [==============================] - 1s 102us/sample - loss: 0.0268
Epoch 21/100
7000/7000 [==============================] - 1s 99us/sample - loss: 0.0259
Epoch 22/100
7000/7000 [==============================] - 1s 98us/sample - loss: 0.0260
Epoch 23/100
7000/7000 [==============================] - 1s 97us/sample - loss: 0.0254
Epoch 24/100
7000/7000 [==============================] - 1s 101us/sample - loss: 0.0250
Epoch 25/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.0247
Epoch 26/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.0246
Epoch 27/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.0241
Epoch 28/100
7000/7000 [==============================] - 1s 98us/sample - loss: 0.0239
Epoch 29/100
7000/7000 [==============================] - 1s 93us/sample - loss: 0.0234
Epoch 30/100
7000/7000 [==============================] - 1s 101us/sample - loss: 0.0233
Epoch 31/100
7000/7000 [==============================] - 1s 99us/sample - loss: 0.0231
Epoch 32/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.0228
Epoch 33/100
7000/7000 [==============================] - 1s 102us/sample - loss: 0.0223
Epoch 34/100
7000/7000 [==============================] - 1s 109us/sample - loss: 0.0222
Epoch 35/100
7000/7000 [==============================] - 1s 98us/sample - loss: 0.0220
Epoch 36/100
7000/7000 [==============================] - 1s 106us/sample - loss: 0.0220
Epoch 37/100
7000/7000 [==============================] - 1s 99us/sample - loss: 0.0215
Epoch 38/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.0215
Epoch 39/100
7000/7000 [==============================] - 1s 109us/sample - loss: 0.0210
Epoch 40/100
7000/7000 [==============================] - 1s 122us/sample - loss: 0.0209
Epoch 41/100
7000/7000 [==============================] - 1s 100us/sample - loss: 0.0206
Epoch 42/100
7000/7000 [==============================] - 1s 103us/sample - loss: 0.0207
Epoch 43/100
7000/7000 [==============================] - 1s 114us/sample - loss: 0.0202
Epoch 44/100
7000/7000 [==============================] - 1s 112us/sample - loss: 0.0199
Epoch 45/100
7000/7000 [==============================] - 1s 106us/sample - loss: 0.0199
Epoch 46/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.0197
Epoch 47/100
7000/7000 [==============================] - 1s 88us/sample - loss: 0.0197
Epoch 48/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.0197
Epoch 49/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.0196
Epoch 50/100
7000/7000 [==============================] - 1s 123us/sample - loss: 0.0190
Epoch 51/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.01880s - lo
Epoch 52/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.0189
Epoch 53/100
7000/7000 [==============================] - 1s 91us/sample - loss: 0.0185
Epoch 54/100
7000/7000 [==============================] - 1s 112us/sample - loss: 0.0187
Epoch 55/100
7000/7000 [==============================] - 1s 94us/sample - loss: 0.0184
Epoch 56/100
7000/7000 [==============================] - 1s 90us/sample - loss: 0.0185
Epoch 57/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.0180
Epoch 58/100
7000/7000 [==============================] - 1s 92us/sample - loss: 0.0182
Epoch 59/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.0184
Epoch 60/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.0182
Epoch 61/100
7000/7000 [==============================] - 1s 107us/sample - loss: 0.0179
Epoch 62/100
7000/7000 [==============================] - 1s 110us/sample - loss: 0.0175
Epoch 63/100
7000/7000 [==============================] - 1s 95us/sample - loss: 0.0177
Epoch 64/100
7000/7000 [==============================] - 1s 100us/sample - loss: 0.0174
Epoch 65/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.0177
Epoch 66/100
7000/7000 [==============================] - 1s 86us/sample - loss: 0.0174
Epoch 67/100
7000/7000 [==============================] - 1s 98us/sample - loss: 0.0171
Epoch 68/100
7000/7000 [==============================] - 1s 106us/sample - loss: 0.0171
Epoch 69/100
7000/7000 [==============================] - 1s 102us/sample - loss: 0.0171
Epoch 70/100
7000/7000 [==============================] - 1s 109us/sample - loss: 0.0168
Epoch 71/100
7000/7000 [==============================] - 1s 99us/sample - loss: 0.0167
Epoch 72/100
7000/7000 [==============================] - 1s 111us/sample - loss: 0.0168
Epoch 73/100
7000/7000 [==============================] - 1s 108us/sample - loss: 0.0166
Epoch 74/100
7000/7000 [==============================] - 1s 103us/sample - loss: 0.0164
Epoch 75/100
7000/7000 [==============================] - 1s 96us/sample - loss: 0.0163
Epoch 76/100
7000/7000 [==============================] - 1s 100us/sample - loss: 0.0165
Epoch 77/100
7000/7000 [==============================] - 1s 99us/sample - loss: 0.0162
Epoch 78/100
7000/7000 [==============================] - 1s 99us/sample - loss: 0.0165
Epoch 79/100
7000/7000 [==============================] - 1s 102us/sample - loss: 0.0162
Epoch 80/100
7000/7000 [==============================] - 1s 106us/sample - loss: 0.0159
Epoch 81/100
5536/7000 [======================>.......] - ETA: 0s - loss: 0.0153

In [36]:
y_pred = ann.predict(x_test)
print(y_pred)

[[ 0.19]
 [ 0.33]
 [-0.11]
 ...
 [ 0.08]
 [ 0.42]
 [ 0.35]]

In [37]:
y_pred = y_pred.flatten()
print(y_pred)

[ 0.19  0.33 -0.11 ...  0.08  0.42  0.35]

In [38]:
final_answer = pd.DataFrame({
    'Employee_ID' : test_copy['Employee_ID'],
    'Attrition_rate' : y_pred
})

In [39]:
final_answer.to_csv('submission1_3.csv' , index=False)

In [40]:
final_answer.head()

  Employee_ID  Attrition_rate
0   EID_22713        0.190224
1    EID_9658        0.333671
2   EID_22203       -0.110160
3    EID_7652        0.227200
4    EID_6516        0.280129